
<!DOCTYPE html>

<html lang="en">

<head>
	<title>@ViewData["Title"] - RoutingAndNavigation</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
			<div class="navbar-collapse" id="menu">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-controller="Home" asp-action="About">About Page</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="Admin">
							<span class="fas fa-cog"></span>&nbsp;Admin
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

</body>

</html>
